// common
$shadow: rgba(#272727, .5);
$poppins: 'Poppins', sans-serif;
$color: #4a4a4e;
$duration: .45s;
$s: 1;


// white
$background-white: #F6F8FF;
$stroke-white: #D1D6EE;
$fill-white: #fff;


// dark
$background-dark: #4a4a4e;
$stroke-dark: #838383;
$fill-dark: #a0a0a0;


